@charset "UTF-8";
html {
  font-size: 62.5%;
  /* 16px*62.5%=10px */
}

body {
  color: #333333;
  font-size: 1.6rem;
  /* 10px*1.6=16px; */
  letter-spacing: 0.1em;
  font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic",Osaka,sans-serif,Helvetica,Helvetica Neue,Arial,Verdana;
  background-color: #ffffff;
}

html, body {
  height: 100%;
  min-height: 100%;
}

ol, ul {
  list-style: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  color: #333333;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 400;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* padding,marginがない要素もあるので、絞って内部・外部余白をリセット */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, figure, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* テーブルのボーダーを一本化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 古いブラウザで起こりがちな画像の周りにブルーの線がつくのを防ぐ */
fieldset, img {
  border: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.container .header {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  padding-left: 2rem;
}

@media screen and (max-width: 767px) {
  .container .header {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.container .header .box {
  display: flex;
  width: 100%;
}

.container .header .box .gnav .gnav-wrapper {
  display: inline-block;
  padding: 2.0rem;
}

.container .header .box .gnav .gnav-wrapper svg {
  width: 2.0rem;
  height: 2.0rem;
}

.container .header .box .logo {
  padding-left: 2.8rem;
}

.container .header .box .logo .logo-txt_status svg {
  height: 1rem;
}

.container .header .box .logo .logo-txt_enName svg {
  height: 1.4rem;
}

.container .header .box .logo .logo-txt_jpName svg {
  height: 1.2rem;
}

.container .main .main-list {
  display: flex;
  margin-bottom: 6rem;
  padding-left: 2.0rem;
  overflow: hidden;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  .container .main .main-list {
    margin-bottom: 4rem;
  }
}

.container .main .main-list .main-item img {
  vertical-align: bottom;
  transition: all 0.2s ease 0s;
}

.container .main .main-list .main-item img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .container .main .main-list .main-item img {
    height: 12rem;
  }
}

.container .main .first img {
  height: 19.9rem;
  width: auto;
  min-width: 0;
}

.container .main .second img {
  height: 20.0rem;
  width: auto;
}

.container .main .third img {
  height: 14.7rem;
  width: auto;
}

.container .main .forth img {
  height: 19.9rem;
  width: auto;
  overflow: hidden;
}

.menu_top {
  position: absolute;
  left: 2.0rem;
  bottom: 2.0rem;
  z-index: 100;
  position: fixed;
}

.menu_top .menu-item {
  margin-bottom: 0.6rem;
  height: 1.6rem;
}

.menu_top .menu-item a {
  display: block;
}

.menu_top .menu-item a svg {
  height: 1.5rem;
  background-color: #fff;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease 0s;
}

.menu_top .menu-item a svg:hover {
  background-color: #00ffa2;
}

.menu_under {
  background-color: #000;
  min-height: 100%;
  width: 24.6rem;
  z-index: -100;
  padding-left: 5rem;
  padding-top: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
}

.menu_under .menu-btn {
  padding: 2rem;
  position: relative;
  right: 2rem;
  display: inline-block;
  margin-bottom: 3.6rem;
}

.menu_under .menu-btn svg {
  width: 2.0rem;
  height: 2.0rem;
}

.menu_under .menu-list .menu-item {
  margin-bottom: 3.5rem;
}

.menu_under .menu-list .menu-item a {
  color: #ffffff;
  display: inline-block;
}
